* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  text-align: center;
  font-family: 'Libre Franklin';
  font-style: normal;
}

header {
  margin: 50px auto 20px;
}

h2 {
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
  color: #969696;

  @media screen and (max-width: 500px) {
    font-size: 22px;
  }
}

span {
  font-weight: 800;
  color: #000000;
}

.chart-img {
  margin: 30px;
  width: 567.23px;

  @media screen and (max-width: 500px) {
    width: 283.62px;
  }
}

input {
  background: #FFFFFF;
  border: 1px solid #C2D3FF;
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.0001);
  border-radius: 28px;
  height: 56px;
  width: 421px;
  margin-right: 5px;
  margin-top: 20px;

  @media screen and (max-width: 500px) {
    height: 40px;
    width: 281px;
    left: 0px;
  }
}

input::placeholder {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  padding-left: 20px;

}

button {
  background: #4C7BF3;
  box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.230414);
  border-radius: 28px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  border: 0;
  width: 200px;
  height: 56px;
  cursor: pointer;

  @media screen and (max-width: 500px) {
    height: 40px;
    width: 282px;
    margin-top: 20px;
  }
}

footer img {
  cursor: pointer;
  margin-bottom: 20px;
  padding-right: 15px;
  

  @media screen and (max-width: 500px) {
    padding-right: 15px;
    margin-bottom: 28px;
    margin-top: 50px;
  }

}